/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  transition: background ,0.3s, color 0.3s;
}

/* Light / Dark Variables */
:root {
  --bg:#ffffff;
  --text: #222;
  --border: #ddd;
  --input-bg: #f3f3f3;
  --hover: #007bff;
}

.dark {
  --bg: #1d1d1d;
  --text: #eaeaea;
  --border: #333;
  --input-bg: #2a2a2a;
}


/* NAVBAR */
.navbar {
  width: 100%;
  padding: 12px 25px;
  background:var(--bg) ;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}



.home-btn {
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
}

/* Center Menu */
.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color:var(--text);
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-menu a:hover {
  color:var(--hover);
}


/* Right section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Theme toggle */
.theme-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Profile Section */
.profile-container {
  position: relative;
}

.profile-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

/* Dropdown */
.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 48px;
  background:var(--bg);
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  overflow: hidden;
  animation: fadeIn 0.2s ease;
}


.profile-dropdown a {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  color:var(--text);
  border-bottom: 1px solid var(--border);
}


.profile-dropdown a:last-child {
  border: none;
}

.profile-dropdown .logout { color: red; }

/* Active underline */
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #4b7bec; /* underline color */
  border-radius: 2px;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .nav-menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background: var(--bg);
    flex-direction: column;
    display: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }

  .hamburger {
    display: block;
  }
}

/* Common css */
body{
  background: var(--bg);
  color: var(--text);
}
.section{
  padding: 20px;
  padding-bottom: 30px;

}