:root {
  --bg-topHead: #266ec6;
}
.dark {
  --bg-topHead: #1a1919;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
 
}
.top-head {
  background-color: var(--bg-topHead); /* Blue background */
  padding: 20px;
  text-align: center;
 
}

.top-head p {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  letter-spacing: 0.5px;
}

.header {
  display: flex;
  gap: 12px;
  padding: 15px 20px;
  background:var(--bg-topHead);
  overflow-x: scroll;
}

.header button {
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.header button.active {
  background: white;
  color: #0d6efd;
  font-size: 18px;
  font-weight: 700;
}

.container {
  display: flex;
  height: calc(70vh - 60px);
}

.sidebar {
  width: 300px;
  padding: 15px;
}

.sidebar button {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  background: #a8b3be;
  cursor: pointer;
}
.sidebar button.active {
  background: #0d6efd;
  color: #fff;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: #fff;
  text-decoration: none;
  color: #1a1919;
  padding: 15px;
  font-size: large;
  font-weight: 600;
  height:80px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}




